@import "vars";
@import "mixins";
@import "extends"; // ??? при каждом импорте в папки добавляются/дублируются селекторы наследования в CSS ???
@import "header";
@import "footer";

* {
    padding: 0;
    margin: 0;
}

// Замена оптимизатору или (👆)общему обнулению - от преподавателя.
// сломал страницу - причину не искал
/*
html,
body,
div,
img,
a,
hr,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
button {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    vertical-align: top;
    transition: none;
}
*/

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}

body {
    font-family: 'Lato', sans-serif;
}

.centering {
    @include centering($widthSiteDesctop);
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 63px;
    background: #F1E4E6;
    margin-bottom: 65px;

    &_img {
        margin-left: calc(50% - 570px - 230px);
    }

    &_heading {
        display: flex;
        gap: 10px;

        &_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &_h1 {
            color: #222;
            font-family: Lato;
            font-size: 48px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }

        &_h2 {
            color: #222;
            font-family: Lato;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &_selectiv {
        color: $ColorSelectSite;
    }
}

.nav_lists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 96px;
}

.nav_box {
    position: relative;
    display: flex;

    &_text {
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: 5%;
        top: 5%;
        z-index: 3;

        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &_big {
            position: absolute;
            z-index: 3;
            left: calc((100% - 150px) / 2);
            bottom: calc((100% - 50px) / 2);

            color: #FFF;
            text-align: center;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            display: flex;
            flex-direction: column;
        }

        &_selectiv {
            color: $ColorSelectSite;
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.nav_list_dark {
    position: absolute;
}

.product_heding {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

    &_h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #222;
        font-size: 30px;
    }

    &_text {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #9F9F9F;
        font-size: 14px;
    }
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;

    &_card {
        max-width: calc(($widthSiteDesctop - 60px) / 3);
        background-color: #F8F8F8;

        &_img {
            width: 100%;
        }

        &_title {
            @extend %fontProduct;
            color: #222;
            font-size: 13px;
            font-weight: 400;
            margin-top: 25px;
            margin-bottom: 13px;
            padding-left: 18px;
        }

        &_text {
            @extend %fontProduct;
            color: #5D5D5D;
            font-size: 14px;
            font-weight: 300;
            padding-left: 18px;
        }

        &_price {
            @extend %fontProduct;
            color: $ColorSelectSite;
            font-size: 16px;
            font-weight: 400;
            margin-top: 18px;
            margin-bottom: 20px;
            padding-left: 18px;
        }
    }
}

.product_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.button_AllProduct {
    border: solid 1px;
    padding: 15px 40px;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo {
    background: #222224;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;

    &_box {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &_img {
        margin-bottom: 25px;

        &_2 {
            margin-bottom: 19px;
        }
    }

    &_title {
        margin-bottom: 16px;
        color: #FBFBFB;
        font-family: Lato;
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_text {
        padding: 0 25px;
        color: #FBFBFB;
        text-align: center;
        font-family: Lato;
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        opacity: 0.5;
    }
}

/*
// Создание фона используя напрямую img + позиции z-index

.subscribeBackground {
    position: relative;
}

.back_img {
    position: absolute;
}

.back_transparent {
    position: absolute;
}
*/

.subscribe {
    // position: absolute;

    background-image: linear-gradient(to bottom, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/subscribeBackground.png);

    /*
    // Создание фона путем наложения двух img в backgraund-е                   
    
    background-image: url(img/Subscribe_backgraund1.png),
        url(img/subscribeBackground.png);
    */

    background-size: cover;
    background-position: bottom;

    display: flex;
    gap: 223px;
    padding-top: 97px;
    padding-bottom: 126px;

    &_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    &_img {
        margin-bottom: 30px;
    }

    &_text {
        text-align: center;
        color: #222224;
        font-family: Lato;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    &_right {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: flex-end;
        width: 60%;
        align-items: center;

    }

    &_big {
        text-align: center;
        color: #222224;
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 167.2%;
    }

    &_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #222224;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167.2%;
    }

    &_forma {
        color: #222224;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: flex;
        justify-content: center;
        // width: 100%;

        &_infield {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            padding: 20px;
        }

        &_text {
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            padding: 20px;
            background: $ColorSelectSite;
            color: #FFF;
            text-align: center;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}



.page_heading {
    display: flex;
    justify-content: space-between;
    background-color: #F8F3F4;

    &_title {
        margin: 60px 0;
        color: $ColorSelectSite;
        @extend %fontProduct;
        font-weight: 400;
        font-size: 24px;
    }

    &_breadCrumbs {
        margin: 66px 0;


        &_text {
            color: #636363;
            @extend %fontProduct;
            font-size: 14px;
            font-weight: 300;

            &_unic {
                color: $ColorSelectSite;
                font-size: 14px;
                font-weight: 700;
                @extend %fontProduct;
            }
        }
    }
}

.carusel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;

    &_item {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 40px;
        width: 40px;
        background-color: #2A2A2A26;
    }

    &_item:hover {
        color: $ColorSelectSite;
    }
}

.fa-xl {
    font-size: x-large;
}

.offer {
    position: relative;
    bottom: 45px;
    z-index: 2;    
}

.otherProduct {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 128px;
    margin-bottom: 80px;
}

.currentProduct {
    

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border: solid 1px #EAEAEA;
    padding: 64px 0;

    &-title {
        color: $ColorSelectSite;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 12px;
        @extend %fontProduct;
    }

    &-name {
        margin-top: 12px;
        margin-bottom: 48px;
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 300;
        @extend %fontProduct;
    }

    &-text {
        padding: 0 293px;
        margin-bottom: 32px;

        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        @extend %fontProduct;
    }

    &-price {
        color: #EF5B70;
        font-size: 24px;
        font-weight: 300;
        @extend %fontProduct;
        margin-bottom: 65px;
    }

    &-option {
        display: flex;
        gap: 23px;
        margin-top: 64px;
        margin-bottom: 48px;
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;
        @extend %fontProduct;

        &-color {
            display: flex;
            gap: 10px;
        }
    }

    &-button {
        background-color: #FFFFFF;
        border-color: #EF5B70;
        padding: 12px 43px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #F26376;
    }
}