@charset "UTF-8";
.filter-items-box, .filter-items-category-subcategory-elements-el, .filter-items-category-subcategory, .filter-items-category-summary, .filter-items-category[open], .currentProduct-option, .currentProduct-price, .currentProduct-text, .currentProduct-name, .currentProduct-title, .subscribe_forma_text, .subscribe_forma, .subscribe_text, .promo_text, .promo_title, .product_btn_button, .product_card .card-hover-wrap-text, .product_card_price, .product_card_text, .product_card_title, .cart-heading-text, .page_heading_breadCrumbs .unic, .page_heading_breadCrumbs_text, .page_heading_title, .product_heding_text, .product_heding_h1, .nav_box_text_big, .nav_box_text, .main_heading_h2, .main_heading_h1, .menu-option-elem-text, .menu-option-elem, .menu-option, .menu, .footer_left_text {
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

.styleHeader {
  background: #222;
}

.headNav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 19px;
}
.headNav .hoverIcon path:hover {
  fill: #F16D7F;
}
.headNav_left {
  display: flex;
  gap: 41px;
  align-items: flex-end;
}
.headNav_right {
  display: flex;
  gap: 33px;
  align-items: flex-end;
}
.headNav_right_basket_num {
  position: relative;
  right: 15px;
  bottom: 15px;
}

.footer {
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer_left_text {
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400;
}
.footer_rigth {
  display: flex;
  gap: 8px;
  padding: 8px;
}
.footer_rigth_icon {
  border: solid;
  padding: 8px;
  background: #FFF;
  color: #222;
}

.BoorgerMenu {
  position: relative;
}
.BoorgerMenu-summary path:hover {
  fill: #F16D7F;
}
.BoorgerMenu[open] path {
  fill: #F16D7F;
}

.menu {
  position: absolute;
  top: 46px;
  left: 185px;
  color: #222;
  font-size: 14px;
  font-weight: 700;
  padding: 32px;
  background: #FFF;
  width: 205.2px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.menu-option {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
}
.menu-option-elem {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.menu-option-elem-text {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

/*
html,
body,
div,
img,
a,
hr,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
button {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    vertical-align: top;
    transition: none;
}
*/
a {
  text-decoration: none;
}

details {
  cursor: pointer;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a:hover {
  opacity: 0.6;
}

body {
  font-family: "Lato", sans-serif;
}

.centering {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 63px;
  background: #F1E4E6;
  margin-bottom: 65px;
}
.main_img {
  margin-left: calc(50% - 570px - 230px);
}
.main_heading {
  display: flex;
  gap: 10px;
}
.main_heading_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_heading_h1 {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}
.main_heading_h2 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}
.main_selectiv {
  color: #F16D7F;
}

.nav_lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
}

.nav_box {
  position: relative;
  display: flex;
}
.nav_box_text {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 5%;
  top: 5%;
  z-index: 3;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav_box_text_big {
  position: absolute;
  z-index: 3;
  left: calc((100% - 150px) / 2);
  bottom: calc((100% - 50px) / 2);
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.nav_box_text_selectiv {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.nav_list_dark {
  position: absolute;
}

.product_heding {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.product_heding_h1 {
  font-weight: 400;
  color: #222;
  font-size: 30px;
}
.product_heding_text {
  font-weight: 400;
  color: #9F9F9F;
  font-size: 14px;
}

.page_heading {
  display: flex;
  justify-content: space-between;
  background-color: #F8F3F4;
}
.page_heading_title {
  margin: 60px 0;
  color: #F16D7F;
  font-weight: 400;
  font-size: 24px;
}
.page_heading_breadCrumbs {
  margin: 66px 0;
}
.page_heading_breadCrumbs_text {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  /* Добавление делителя через CSS, через псевдо классы */
  /* Объединение двух правил выше в одно */
}
.page_heading_breadCrumbs_text:not(:last-child)::after {
  content: " /";
}
.page_heading_breadCrumbs .unic {
  color: #F16D7F;
  font-weight: 700;
}

.cart-heading {
  background-color: #F8F3F4;
}
.cart-heading-text {
  padding: 60px 0;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}

.cart {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  gap: 128px;
}
.cart-left {
  width: 64.5%;
}
.cart-rigth {
  width: 35.5%;
}
.cart-imgBox {
  width: 40%;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}
.product_card {
  max-width: 360px;
  background-color: #F8F8F8;
}
.product_card_img {
  width: 100%;
  position: relative;
}
.product_card_img:hover .card-hover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_card_title {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 13px;
  padding-left: 18px;
}
.product_card_text {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  padding-left: 18px;
}
.product_card_price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 20px;
  padding-left: 18px;
}
.product_card .card-hover {
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  cursor: pointer;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product_card .card-hover-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  padding: 12px;
  width: 35%;
  border: 1px solid #FFFFFF;
}
.product_card .card-hover-wrap-text {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

.product_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
}
.product_btn_button {
  border: solid 1px #F16D7F;
  padding: 15px 40px;
  background-color: #FFF;
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
}
.product_btn_button:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.promo {
  background: #222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
}
.promo_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo_img {
  margin-bottom: 25px;
}
.promo_img_2 {
  margin-bottom: 19px;
}
.promo_title {
  margin-bottom: 16px;
  color: #FBFBFB;
  font-size: 19.96px;
  font-weight: 400;
}
.promo_text {
  padding: 0 25px;
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-weight: 300;
  opacity: 0.5;
}

/*
// Создание фона используя напрямую img + позиции z-index

.subscribeBackground {
    position: relative;
}

.back_img {
    position: absolute;
}

.back_transparent {
    position: absolute;
}
*/
.subscribe {
  background-image: linear-gradient(to bottom, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/subscribeBackground.png);
  /*
  // Создание фона путем наложения двух img в backgraund-е                   

  background-image: url(img/Subscribe_backgraund1.png),
      url(img/subscribeBackground.png);
  */
  background-size: cover;
  background-position: bottom;
  display: flex;
  gap: 223px;
  padding-top: 97px;
  padding-bottom: 126px;
}
.subscribe_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.subscribe_img {
  margin-bottom: 30px;
}
.subscribe_text {
  text-align: center;
  color: #222;
  font-size: 20px;
  font-weight: 400;
}
.subscribe_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-end;
  width: 60%;
  align-items: center;
}
.subscribe_big {
  text-align: center;
  color: #222;
  text-align: center;
  font-size: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.subscribe_forma {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.subscribe_forma_infield {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px;
}
.subscribe_forma_text {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
  background: #F16D7F;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.carusel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
}
.carusel_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgba(42, 42, 42, 0.1490196078);
}
.carusel_item:hover {
  color: #F16D7F;
}

.fa-xl {
  font-size: x-large;
}

.offer {
  position: relative;
  bottom: 45px;
  z-index: 2;
}

.otherProduct {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 128px;
  margin-bottom: 80px;
}

.currentProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: solid 1px #EAEAEA;
  padding: 64px 0;
}
.currentProduct-title {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}
.currentProduct-name {
  margin-top: 12px;
  margin-bottom: 48px;
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
}
.currentProduct-text {
  padding: 0 293px;
  margin-bottom: 32px;
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.currentProduct-price {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 65px;
}
.currentProduct-option {
  display: flex;
  gap: 23px;
  margin-top: 64px;
  margin-bottom: 48px;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.currentProduct-option-color {
  display: flex;
  gap: 10px;
}
.currentProduct-button {
  background-color: #FFFFFF;
  border-color: #F16D7F;
  padding: 12px 43px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #F26376;
}
.currentProduct-button:hover {
  background-color: rgba(241, 109, 127, 0.4);
  color: #FFFFFF;
}

.filter {
  display: flex;
  gap: 30px;
  padding-top: 51px;
  padding-bottom: 65px;
}
.filter-items {
  display: flex;
  gap: 28px;
  width: 360px;
  position: relative;
}
.filter-items-category {
  /* Стилизация details  в развернутом виде */
  /* Смена цвета svg в path при наведении курсора */
  /* [open] - для стилизации details в открытом состоянии */
  /* смена цвета svg в fill возможна, если напрямую прописана в html
  через передачу в html картинкой не получается  */
}
.filter-items-category[open] {
  position: absolute;
  background-color: #FFFFFF;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 17px;
  box-sizing: border-box;
  z-index: 3;
  top: -18px;
}
.filter-items-category-summary:hover {
  color: #F16D7F;
}
.filter-items-category path:hover {
  fill: #F16D7F;
}
.filter-items-category[open] .filter-items-category-summary {
  color: #F16D7F;
}
.filter-items-category[open] path {
  fill: #F16D7F;
}
.filter-items-category-summary {
  display: flex;
  gap: 10px;
  color: #222;
  font-size: 14px;
  font-weight: 600;
}
.filter-items-category-subcategory:hover {
  color: #F16D7F;
}
.filter-items-category-subcategory {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 18px;
}
.filter-items-category-subcategory[open] {
  color: #F16D7F;
}
.filter-items-category-subcategory-summary {
  border-left: 5px solid #F16D7F;
  padding: 10px;
  border-bottom: 1px solid #EBEBEB;
}
.filter-items-category-subcategory-elements {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 14px 12px;
}
.filter-items-category-subcategory-elements-el {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.filter-items-category-subcategory-elements-el:hover {
  color: #F16D7F;
}
.filter-items-box {
  position: relative;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.filter-items-box-details-summary {
  padding-left: 5px;
  padding-bottom: 2px;
}
.filter-items-box-details-summary:hover {
  color: #F16D7F;
}
.filter-items-box-details-pre_part {
  position: absolute;
  padding: 9px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  top: 22px;
  right: -20px;
  z-index: 3;
  display: flex;
  gap: 6px;
  width: 60px;
  flex-direction: column;
  justify-content: center;
}
.filter-items-box-details-part {
  display: flex;
  flex-direction: row;
  gap: 9px;
}/*# sourceMappingURL=style.css.map */