$ColorSelectSite: #F16D7F;
$widthSite: 1140px;
$hoverIcon: scale(1, 1.2);

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    max-width: 1600px;
}

.centering {
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);
}

.hoverHead:hover {
    transform: $hoverIcon;
}

.styleHeader {
    background-color: #222;
}

.headNav {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
}

.headNav_left {
    display: flex;
    gap: 41px;
    align-items: flex-end;
}

.headNav_rigth {
    display: flex;
    gap: 33px;
    align-items: flex-end;
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
    gap: 63px;
    background: #F1E4E6;
    margin-bottom: 65px;
}

.img_main {
    width: 50%;
}

.main_heading {
    display: flex;
    gap: 10px;
}

.main_heading_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_heading_h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.main_heading_h2 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    // &_unic_text {
    //     color: $ColorSelectSite;
    // }
}

.main_selectiv {
    color: $ColorSelectSite;
}

.nav_lists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 96px;
}

.nav_box_text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    flex-direction: column;

    &_selectiv {
        color: $ColorSelectSite;
        font-size: 24px;
        font-weight: 700;
    }
}

.promo_heding {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

    &_h1 {
        color: #222;
        font-size: 30px;
    }

    &_text {
        color: #9F9F9F;
        font-size: 14px;
    }
}

.promo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
}

.promo_card {
    max-width: calc(($widthSite - 60px) / 3);

    background-color: #F8F8F8;
    ;
    font-family: Lato;
    font-style: normal;
    line-height: normal;

    &_title {
        color: #222;
        font-size: 13px;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 13px;
        padding-left: 18px;
    }

    &_text {
        color: #5D5D5D;
        font-size: 14px;
        font-weight: 300;
        padding-left: 18px;
    }

    &_price {
        color: #F16D7F;
        font-size: 16px;
        font-weight: 400;
        margin-top: 18px;
        margin-bottom: 20px;
        padding-left: 18px;
    }
}

.button_product {
    
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}